<!DOCTYPE html>
<html>
<head>
  <%- include('partials/head') %>
</head>
<body>
  <%- include('partials/masthead') %>
  <div class="container">
    <h2>Reservation Agreement</h2>
      <p class="intro">Please double check the details below and submit your signature.</p>

    <form action="/sign" method="POST">

      <div class="form-row">
        <div class="form-label">
          <label for="name">Full name</label>
        </div>
        <div class="form-field">
          <input type="text"
                 id="name"
                 name="name"
                 class="c-input"
                 size="40"
                 maxlength="100"
                 value="<%= exampleData.name %>"
                 oninvalid="this.setCustomValidity('Please enter your name.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="email">Email address</label>
        </div>
        <div class="form-field">
          <input type="email"
                 id="email"
                 name="email"
                 class="c-input"
                 size="40"
                 value="<%= exampleData.email %>"
                 oninvalid="this.setCustomValidity('Please enter a valid email address.')"
                 oninput="setCustomValidity('')"
                 required>
        </div>
        <p class="form-comment">We will send out a copy of the agreement, make sure this is your real email address.</p>
      </div>

      <div class="form-row-split">
        <div class="form-row">
          <div class="form-label">
            <label for="checkIn">Check in</label>
          </div>
          <div class="form-field">
            <input type="date" id="checkIn" name="checkIn" class="c-input" size="40"
              value="<%= exampleData.email %>"
              oninvalid="this.setCustomValidity('Please enter a valid email address.')"
              oninput="setCustomValidity('')" required disabled>
          </div>
        </div>
        <div class="form-row">
          <div class="form-label">
            <label for="checkOut">Check out</label>
          </div>
          <div class="form-field">
            <input type="date" id="checkOut" name="checkOut" class="c-input" size="40"
              value="<%= exampleData.email %>"
              oninvalid="this.setCustomValidity('Please enter a valid email address.')"
              oninput="setCustomValidity('')" required disabled>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="propertyName">Property name</label>
        </div>
        <div class="form-field">
          <input type="text" id="propertyName" name="propertyName" class="c-input" size="40" maxlength="100"
            value="<%= exampleData.name %>" oninvalid="this.setCustomValidity('Please enter your name.')"
            oninput="setCustomValidity('')" required disabled>
        </div>
      </div>


      <div class="form-row">
        <div class="form-label">
          <label for="company">Security deposit</label>
        </div>
        <div class="form-field">
          <p class="form-comment">We will send out a copy of the agreement, make sure this is your real email address.
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="company">Cancellation policy</label>
        </div>
        <div class="form-field">
          <p class="form-comment">We will send out a copy of the agreement, make sure this is your real email address.
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="company">House rules</label>
        </div>
        <div class="form-field">
          <p class="form-comment">We will send out a copy of the agreement, make sure this is your real email address.
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label for="company">Damage coverage</label>
        </div>
        <div class="form-field">
          <p class="form-comment">We will send out a copy of the agreement, make sure this is your real email address.
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="form-label">
          <label>Sign your name</label>
        </div>
        <div class="form-field">
          <button class="js-sig-reset sig-reset hidden"></button>
          <canvas class="js-sig-canvas sig" width="444" height="125"></canvas>
          <input type="hidden" class="js-sig" name="signature">
        </div>
      </div>

      <div class="form-submit">
        <input class="c-submit js-submit" type="submit" value="Sign Agreement" disabled>
      </div>
    </form>
  </div>

  <%- include('partials/footer') %>
</body>
</html>
